body {
    background-image: url('../images/planes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    text-align: center;
    margin: 50px 0;
    margin-top: 150px; 
}

h1{
    font-weight: bolder;
    
}

h2 {
    margin-top: 50px;
}

h5 {
    text-align: center;
}

li img{
    align-content: center;
    padding-left: 41px;
}

#five-day-title {
    text-decoration: underline;
    font-size: x-large;
   font-weight: bolder;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

#searchForm2 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

#five-day-forecast {
    display: flex;
    justify-content: space-around;
}

.card {
    margin-right: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.larger-card {
    width: 26rem;
    height: 26rem; 
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 25px;
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.7);
}

